/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Poppins:wght@400;700&family=Montserrat:wght@400;700&family=Lora:ital@1&display=swap');

/* Palette de couleurs */
:root {
  --color-primary: #2c5f2d;
  --color-secondary: #F8F9FA;
  --color-text: #2c3e50;
  --color-success: #4caf50;
  --color-warning: #ff9800;
  --color-info: #2196f3;
  --color-background: var(--color-secondary);
}

/* Réinitialisation de base */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Gestion du scroll */
html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

/* Typographies */
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: var(--color-primary);
}

h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.slogan {
  font-family: 'Lora', serif;
}

/* Layout */
.full-height {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
